<% content_for :head do %>

  <%= javascript_include_tag 'jquery/jquery.js' %>
  <%= javascript_include_tag 'wymeditor/jquery.wymeditor.js' %>


  <script type="text/javascript" charset="utf-8">

    var $j = jQuery.noConflict();
    $j(function() {
      $j('.wymeditor').wymeditor({
        xhtmlParser: 'xhtml_parser.js',
        cssParser:   'wym_css_parser.js',
        stylesheet: '/stylesheets/static.css?v='+Math.random(),
        containersItems: [
          {'name': 'P', 'title': 'Paragraph', 'css': 'wym_containers_p'},
          {'name': 'H1', 'title': 'Heading_1', 'css': 'wym_containers_h1'},
          {'name': 'H2', 'title': 'Heading_2', 'css': 'wym_containers_h2'},
          {'name': 'H3', 'title': 'Heading_3', 'css': 'wym_containers_h3'},
          {'name': 'PRE', 'title': 'Preformatted', 'css': 'wym_containers_pre'},
          {'name': 'BLOCKQUOTE', 'title': 'Blockquote', 'css': 'wym_containers_blockquote'},
        ],
        lang: '<%= I18n.locale.to_s.split("-").first %>'
      });
    });
    $j(function(){
        $('.language-variants').each(function(){
            $(this).hide();
        });
        $('.entry-<%=I18n.locale%>').each(function(){
            $(this).show();    
        });
        $('#language_switch_selector').change(function(){
            $('.language-variants').each(function(){
                $(this).hide();
            });
            $('.entry-'+this.value).each(function(){
                $(this).show();
            });
            $('#content').prepend('<div class="flash notice"><%=t('ext_static_content_language_changed')%></div>');
            $('.flash').fadeOut(2000, function(){
                $('.flash').remove();
            });
        });
    });

  </script>
<% end %>
<table class="admin-report" width="545">
  <tr>
    <td>
      <%=t('ext_static_content_language_switcher')%>
    </td>
    <td>
      <%= select :language_switch, :selector, AVAILABLE_LOCALES.map{|u| [u.second, u.first]}, {:selected => I18n.locale.to_s} %>
    </td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_title")%>:</td>
    <td>
      <% AVAILABLE_LOCALES.each_key do |lang| %>
        <div class="language-variants entry-<%=lang %>">
          <%= f.text_field "title_#{normalize_locale(lang)}".to_sym, {"style" => "width:500px"} %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_slug")%>:</td>
    <% if @parent_page %>
        <td><%= f.text_field :slug, {"style" => "width:500px", "readonly" => "readonly", :value => @parent_page.slug+"/..."} %></td>
    <% else %>
        <td><%= f.text_field :slug, {"style" => "width:500px", "readonly" => "readonly"} %></td>
    <% end %>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_body")%>:</td>
    <td>
      <% AVAILABLE_LOCALES.each_key do |lang| %>
        <div class="language-variants entry-<%=lang %>">
          <%= f.text_area "body_#{normalize_locale(lang)}".to_sym, {"style" => "width:500px", "class"=> "wymeditor"} %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_foreign_link")%>:</td>
    <td><%= f.text_field :foreign_link, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_meta_keywords")%>:</td>
    <td><%= f.text_field :meta_keywords, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_meta_description")%>:</td>
    <td><%= f.text_field :meta_description, {"style" => "width:500px"} %></td>
  </tr>
  <% unless @parent_page %>
  <tr>
    <td valign="top"><%=t("ext_static_content_show_in")%> <%=t("ext_static_content_show_in_sidebar")%>:</td>
    <td><%= f.check_box :show_in_sidebar %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_show_in")%> <%=t("ext_static_content_show_in_header")%>:</td>
    <td><%= f.check_box :show_in_header %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_show_in")%> <%=t("ext_static_content_show_in_footer")%>:</td>
    <td><%= f.check_box :show_in_footer %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_show_in")%> <%=t("ext_static_content_show_in_help_navigation")%>:</td>
    <td><%= f.check_box :show_in_help_navigation %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_root_page")%>:</td>
    <td><%= f.check_box :root_page %></td>
  </tr>
  <% end %>
  <tr>
    <td valign="top"><%=t("ext_static_content_position")%>:</td>
    <td><%= f.text_field :position %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_layout")%>:</td>
    <td><%= f.text_field :layout %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_visible")%>:</td>
    <td><%= f.check_box :visible, { :checked => 'checked' } %></td>
  </tr>
</table>