<div class="fields">
    <%= f.label :description, t("ext_static_content_page_assets_description") %>
    <%= f.text_field :description %>
    <% unless f.object.new_record? %>
        <%= image_tag f.object.attachment.url(:small) %>
        <br />
    <% end %>
    <%= remove_child_link t('remove'), f %>
    <br/>
    <%= f.label :attachment, "attachment" %>
    <%= f.file_field :attachment %>
    <br />
</div>